#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: rgb(0, 136, 255);
  color: rgb(255, 255, 255);
}

section {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px
}

button {
  margin: 40px;
}

input {
  font-size: 1.5rem;
  width: 100%;
  max-width: 400px;
}

