#root {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  text-align: center;
}


section {
  font-size: 1.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px
}

button {
  margin: 40px;
  font-size: 1.1rem;
  padding: 12px 18px;
  border-radius: 8px;
  border: none;
}

input {
  font-size: 1.5rem;
  width: 100%;
  max-width: 400px;
}

