/* Ensure full-height layout */

html,
body,
#root {
  height: 100%;
}

/* Global reset */
* {
  box-sizing: border-box;
}

/* Background */
body {
  margin: 0;
  background-color: #1c86ff; /* slate/dark blue */
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

/* App page wrapper */
.page {
  min-height: 100vh;
  width: 100%;
  padding: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
